<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/bower_components/skeleton/css/skeleton.css"> -->
    <link rel="stylesheet" href="/skeleton-plus/skeleton.plus.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
  </head>
  <body>
  <div id="modalOuter">
    <div id="modalInner">
      <div class="modalInnerContent">
        <h5>Leave a message for <span id="to"></span></h5>
        <textarea id="messageContent" cols="30" rows="10" placeholder="Don't make your message too short, really make them feel like they'd want to play with you."></textarea>
        <br>
        <input type="text" placeholder="Your email or ign" id="from">
        <br>
        <br>
        <button class="button button-primary" id="sendMessage">Send</button>
        <button class="button button-primary" id="close">Close</button>
      </div>
    </div>
  </div>
  <div class="container">
    <header>
      <h1><a href="/">LOL Recruit</a></h1>
      <ul id="nav">
        <% if((typeof user) == 'undefined'){ %>
        <li><a href="/user/login">Login</a> |</li>
        <li><a href="/user/register">Register</a> |</li>
        <% } else { %>
        <li><a href="/user/logout">Logout</a> |</li>
        <li><a href="/user">Profile</a></li>
        <% } %>
      </ul>
      <h5 id="welcome"><% if((typeof user) != 'undefined'){ %>
      Welcome, <%= user.name %>
      <% } %></h5>
    </header>
