@import url(https://fonts.googleapis.com/css?family=Oswald|Montserrat);

a{
  text-decoration:none;
}

#nav{
  list-style: none;
  text-align: right;
}

#nav li{
  display: inline-block;
}

footer{
  text-align: center;
}

h1{
  font-family: 'Oswald';
}

header{
  /*position:fixed;*/
  background-color: #EFFFE9;
  margin-bottom: -10px;
  padding:40px;
  border-radius: 5px;
}

main{
  background-color:#EFFFE9;
  padding:40px;
  border-radius: 5px;
}

body{
  background:url(http://eskipaper.com/images/league-of-legends-wallpaper-21.jpg);
  background-size: cover;
  font-family: 'Montserrat';
}



/*MODAL */

body#modalInner{
  overflow: auto;
}

#modalOuter{
  width:100%;
  height:100vh;
  background-color: rgba(0,0,0,0.8);
  margin: -11px;
  position: fixed;
  z-index: 1;
  display:none;
}

.modalInnerContent{
  width:60%;
  height: auto;
  margin:0 auto;
  transform: translateY(-25%);
  top:25%;
  position:relative;
  text-align: center;
}

.modalInnerContent textarea {
  width:100%;
}


.modalInnerContent #sendMessage {
  right:0;
  position:absolute;
}

.modalInnerContent #close {
  left:0;
  position:absolute;
}

#modalInner{
  position: relative;
  height:50vh;
  width:50%;
  top:50%;
  margin:0 auto;
  transform: translateY(-25vh);
  background-color: white;
  border-radius: 5px;
}

/*END MODAL*/


/* MESSAGES ON USER PAGE */

.messagebox{
  width: 100%;
  height: 50vh;
  background-color: #2EC4B6;
  border-radius: 5px;
  overflow-y: scroll;
}

.contain{
  margin:20px;
}

.message{
  padding:10px;
  border-radius: 5px;
  background-color: #011627;
  color:white;
}

.message .button-danger{
  float:right;
  right:30px;
}

#middle{
  line-height: 50vh;
  text-align: center;
}

#setAvailable{

}

/* END MESSAGES ON USER PAGE */


/* BARS */

.bar{
  display: inline-block;
  /*position: absolute;*/
  /*float:right;*/
  height:20px;
  /*width:100px;*/
  background-color: #E71D36;
  margin-bottom:-5px;
}

/* END BARS */
