<% include ../partials/head %>
<main>
  <hr>
  <% if((typeof user) != 'undefined'){ %>
    <div class="row">
      <div class="six columns user card">
        <!-- to be loaded from db through ajax -->
        <p><%= user.ign %></p>
        <div id="<%= user.lol_id %>" class="stats">
          <p>Normal Wins: <span class="bar" id="normal"></span></p>
          <p>Ranked Wins: <span class="bar" id="ranked"></span></p>
          <p>Assists: <span class="bar" id="assists"></span></p>

        </div>
      </div>
    <div class="six columns messages">

      <% if (user.taken){ %>
        <button class="button button-warning" id="setAvailable"><span class="fa fa-thumbs-up" ></span> Set me as available!</button>
        <br>
        <br>
        <p>You should message:<strong> <span id="selected"></span> </strong> right away!</p>
      <% } else { %>
          <!-- to be loaded from db through ajax-->
          <div class="messagebox">
            <div class="contain">
              <p id="middle">-no messages-</p>
            </div>
          </div>
      <% } %>
    </div>
  <% } %>
</main>
<% include ../partials/footer %>
