<% include ../partials/head %>
<h2>Register</h2>
<hr>
<form action="/user/login" method="post">
  <label for="">Email</label>
  <input name="email" type="text">
  <br>
  <label for="">Password</label>
  <input name="password" type="password">
  <br>
  <input type="Submit" id="loginButton">
</form>
<% include ../partials/footer %>
