<% include ../partials/head %>
<h2>Register</h2>
<hr>
<form action="/user/new" method="post">
    <label for="">Full Name:</label>
    <input name="name" type="text">
    <br>
    <label for="">Email:</label>
    <input name="email" type="text">
    <br>
    <label for="">League of Legends IGN:</label>
    <input name="ign" type="text">
    <br>
    <label for="">Password:</label>
    <input name="password" type="password">
    <br>
    <input id="loginButton" type="Submit" value="Register">
  </form>
<% include ../partials/footer %>
